@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Person_Zl</title>
    <script src="../../js/uploadfiy/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="../../js/uploadfiy/jquery.uploadify.min.js" type="text/javascript"></script>
    <link href="../../style/base.css" rel="stylesheet" type="text/css" />
    <link href="../../style/frame.css" rel="stylesheet" type="text/css" />
    <link href="../../style/viewPatent.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var pager = @ViewData["pagerIndex"]
        var tatol = @ViewData["Total"]
        var TotalPager = @ViewData["TotalPager"]
    </script>
    <script src="../../js/pager.js" type="text/javascript"></script>
    <script  type="text/javascript">
        $(document).ready(function () {
            $("div").ajaxStart(function () {
                $("#blackgroudvalue").show();
            });
            $("div").ajaxStop(function () {
                $("#blackgroudvalue").hide();
            });
            getLink(pager, TotalPager, tatol, "../ApplyForm/Person_Zl", "middle", "pageLink");
        });
        function exportWord(name) {
            window.location.href="http://" + window.location.host + "/wordFiles/" + name + ".doc";
        }
        function uploadFile(uploadguid) {
            $.ajax({ type: "post", url: "../UploadFile/Index", dataType: "html", data: { "uploadguid": uploadguid }, success: function (data) {
                $("#popUploadFile").html(data);
            }
        })
        $("#popUploadFile").show();
        }
    </script>
    <style type="text/css">
    <!--
    div.black
    {
        position: absolute;
        top: 43px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4) none repeat scroll !important;
        background: #000; 
        filter: Alpha(opacity=40);
        z-index: 1000;
        display:none;
    }
    
    -->
    </style>
</head>
<body>
<div class="black" id="blackgroudvalue"></div>
<div class="begining w100 oh clear">
    	<p class="location">您的位置：<a href="#">首页</a>&nbsp;>&nbsp;<a href="#">用户中心</a>&nbsp;>&nbsp;专利信息查看</p>
    </div>
    
    <!--  mainContent  -->
   <div class="mainContent">

       <div class="popUpload" id="popUploadFile">
            
       </div>


       <div class="viewPatent clear middle oh">
        	<div class="search viewPatent-search clear oh">
            	<p class="fr">
                	<select><option>年</option></select>
                	<select><option>月</option></select>
                    <input type="text">
                    <input type="image" src="../images/viewpatent-search-btn.png">
                </p>
            </div>
            
            <div class="clear" style="border: 1px solid #bfbfbf;">
                <table class="clear tc w100">
                    <thead>
                        <tr>
                            <td>专利类型</td>
                            <td>专利名称</td>
                            <td>专利编号</td>
                            <td>专利费减证明</td>
                            <td>审核状态</td>
                            <td>费减审批表</td>
                            <td>上传审核</td>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (MoneyRetard.Models.personDatabase pd in (List<MoneyRetard.Models.personDatabase>)ViewData["rpeo"])
                     {
                        <tr @MoneyRetard.Content.StyleControl.changeBackage(pd.id)>
                            <td>@pd.Zl_Type</td>
                            <td>@pd.Zl_Name</td>
                            <td>@pd.ZL_Bnum</td>
                            <td>@MvcHtmlString.Create(MoneyRetard.Content.CheckAudit.imgSrc(pd.guid, pd.id))</td>
                            <td>@MvcHtmlString.Create(MoneyRetard.Content.CheckAudit.check(pd.guid, pd.id))</td>
                            <td><span onclick="exportWord('@pd.guid')"><a href="#">
                                <img src="../../images/btn-dcword.png" /></a></span></td>
                            @MvcHtmlString.Create(@MoneyRetard.Content.CheckAudit.rtnTd(pd.guid, pd.id))
                        </tr>
                     }
                    </tbody>            
                </table>
            </div>
         <div class="operate clear oh tr" id="pageLink"><!--  分页  -->
			
            <span>1/3页</span>
            <a href="#">首页</a>
            <a href="#">上一页</a>
            <a href="#">下一页</a>
            <a href="#">末页</a>
		</div><!--  分页 end  -->
    </div>
    </div>
</body>
</html>
